html {
	font-family: 'Helvetica Neue', sans-serif; 
	background-color: #eee;
}

h1 {
	font-size: 59px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1; 

	color: #888;
	text-transform: uppercase;
}

.logo {
	width: 200px;
}

.footer {
	margin-top: 32px;
	padding: 7px;
	background-color: #888;
	color: #eee;
	width: 600px;
}